/* 
container 全頁寬度 540px
--content 內容 底部padding120px
---row 左右 margin-15 =container
----col-x 左右margin15 =content
*/

/* 通用規則START */
/* CONTAINER */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    background-color: #F9F9F9;
}

.content {
    padding-bottom: 120px;
}

/* HEADER START */
.header {
    height: 60px;
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.icon-userplus {
    font-size: 30px;
}


.search-box {
    height: 38px;
}

/* HEADER END */
/* FOOTER MENU  START*/
.footer_menu {
    background-color: #fff;
    height: 65px;
    padding-top: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
}

.navlink {
    width: 20%;
    text-align: center;
    font-weight: 400;
}

.navlink a div {
    font-size: 24px;
}

.navlink a {
    font-size: 14px;
    color: #000;
}

.navlink a:hover,
.navlink a div:hover {
    color: #ED5C59;
}

/* FOOTER MENU  END*/
/* 通用規則END */

/* 商城頁開始 */
.goods-card {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 7px 7px 18px 7px;
    margin: 10px 0px;
}

.goods-img {
    border-radius: 10px;
}

.name {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}


.price {
    font-size: 16px;
    font-weight: 600;
    color: #ED5C59;
}

.icon-discount:before,
.icon-discount:before {
    font-size: 20px;
    color: #ED5C59;
}

.orgi-price {
    font-size: 12px;
    color: #979797;
    text-decoration-line: line-through;
}

.views-box {
    font-size: 12px;
    color: #979797;
    position: relative;
}

.icon-send {
    position: absolute;
    font-size: 20px;
    bottom: 0px;
    right: 0px;
}

/* 商城頁結束 */
/* 商品細節頁 */
.detail-price-box,
.detail-price {
    font-size: 20px;
    font-weight: 600;
    color: #ED5C59;
}

.detail-orgi-price {
    font-size: 14px;
    color: #979797;
    text-decoration-line: line-through;
}

.icon-minus,
.icon-plus {
    font-size: 30px;
}

.nav-tabs .nav-link.active {
    background-color: #F9F9F9 !important;
    border-bottom-color: #F9F9F9 !important;
}

.goods-btngroup {
    background-color: transparent;
    width: 100%;
    max-width: 520px;
    position: fixed;
    bottom: 70px;
}

/* 商品細節頁結束 */
/* 購物車頁 */
.content.fill {
    height: 100VH;
}

.card {
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 15px;
}

.card img {
    width: 120px;
}

.icon-delete {
    margin-left: 10px;
    font-size: 24px;
}

.count-list {
    font-weight: 600;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.backbtn {
    font-size: 14px;
    color: #222;
}

/* 購物車結束 */
/* 結帳頁開始 */
.formbox {
    padding: 20px 15px;
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 10px;
    color: #333 !important;
}

.formbox label {
    font-size: 14px;
}

/* 結帳頁結束 */
/* 設定頁開始 */
.setting-card {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #333;
}

.setting-icon {
    font-size: 40px;
}

/* 設定頁結束 */
/* 購買紀錄頁開始 */
.record-date {
    font-size: 14px;
    color: #555;
}

.record-status {
    font-size: 14px;
    color: #ED5C59;
}

.record-date-box {
    border-bottom: solid 1px #e5e5e5;
    padding: 5px 0px;
    /* margin-bottom: 5px; */
}

/* 購買紀錄頁結束 */
/* 購買紀錄細節頁開始 */
.order-list {
    border-bottom: solid 1px #e5e5e5;
    padding: 10px 0px;
}

.order-price {
    color: #ED5C59;
}

.order-count-box {
    color: #979797;
}


.order-table th {
    color: #979797;
    font-weight: 400;
    font-size: 14px;
}

.order-table td {
    font-weight: 500;
    font-size: 14px;
}

/* 購買紀錄細節頁結束 */
/* ICON START */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?lvlml0');
    src: url('fonts/icomoon.eot?lvlml0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?lvlml0') format('truetype'),
        url('fonts/icomoon.woff?lvlml0') format('woff'),
        url('fonts/icomoon.svg?lvlml0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-d:before {
    content: "\e901";
}

.icon-box .path1:before {
    content: "\e902";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-box .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-cart .path1:before {
    content: "\e904";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-cart .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-clipboard .path1:before {
    content: "\e906";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-clipboard .path3:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path4:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path5:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path6:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path7:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-clipboard .path8:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-close:before {
    content: "\e90e";
}

.icon-credit-card .path1:before {
    content: "\e90f";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-credit-card .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-credit-card .path3:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-delete .path1:before {
    content: "\e912";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-delete .path2:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.icon-discount:before {
    content: "\e900";
}

.icon-down:before {
    content: "\e914";
}

.icon-earth .path1:before {
    content: "\e915";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-earth .path2:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.4;
}

.icon-export .path1:before {
    content: "\e916";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-export .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-export .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-home:before {
    content: "\e919";
}

.icon-left:before {
    content: "\e91a";
}

.icon-minus .path1:before {
    content: "\e91b";
    color: rgb(0, 0, 0);
    opacity: 0.1;
}

.icon-minus .path2:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-plus .path1:before {
    content: "\e91d";
    color: rgb(0, 0, 0);
    opacity: 0.1;
}

.icon-plus .path2:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-right:before {
    content: "\e91f";
}

.icon-send .path1:before {
    content: "\e920";
    color: rgb(0, 0, 0);
}

.icon-send .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.4;
}

.icon-setting .path1:before {
    content: "\e922";
    color: rgb(0, 0, 0);
}

.icon-setting .path2:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(0, 0, 0);
    opacity: 0.4;
}

.icon-up:before {
    content: "\e924";
}

.icon-User .path1:before {
    content: "\e925";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-User .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

.icon-user .path1:before {
    content: "\e927";
    color: rgb(0, 0, 0);
    opacity: 0.3;
}

.icon-user .path2:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}

/* ICON END */